{% extends 'base.html' %}

{% block header %}
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">TodoList</h1>
      <p class="load">TodoListを作成して生産的な毎日を過ごしましょう</p>
    </div>
  </div>
{% endblock %}

{% block content %}
  {% for item in object_list %}
    <div class="container">
      <div class="alert alert-success" role="alert">
        <p>{{item.title}}</p>
        <a href="#" class="btn btn-primary" tabindex="-1" role="button" aria-disabled="true">Primary link</a>
        <a href="#" class="btn btn-secondary" tabindex="-1" role="button" aria-disabled="true">Link</a>
      </div>

    </div>
  {% endfor %}
{% endblock content %}